<!-- 
	<div class="btn-group-vertical float-right sticky-top d-print-none pt-5" role="group" aria-label="Basic example" style="width: 7%;">
		  <a href="#!" class="btn btn-outline-primary">Top</a>
		  <a href="#quantitynav" class="btn btn-outline-primary" style="overflow: hidden;">Quantity</a>
		  <a href="#covernav" target="_self" class="btn btn-outline-primary">Cover</a>
		  <a href="#!" class="btn btn-outline-primary">Text</a>
		  <a href="#!" class="btn btn-outline-primary">Printing</a>
		  <a href="#!" class="btn btn-outline-primary">Bindery</a>
		  <a href="#!" class="btn btn-outline-primary">Bottom</a>
	</div>
 -->

<navbar-panel></navbar-panel>
	
	<div class="container border rounded bg-white" >
			<title-panel></title-panel>
			<hr>

			<form>
				<div class="form-group">
					
					<head-panel></head-panel>

					<hr>

					<quantity-panel></quantity-panel>
					
					<cover-panel></cover-panel>

					<text-panel></text-panel>

					<print-panel></print-panel>

					<bindery-panel></bindery-panel>

					<hr>

					<total-panel></total-panel>
					<hr>
				</div>
			</form>
			<footer-panel></footer-panel>
		</div>