	<div class="container border rounded" >

			<div class="row d-flex justify-content-between align-items-end " >

				<div class="col-md-3 col-sm-4 col-6">
					<img src="./images/mpi_logo.png" alt="MPI logo" class="img-fluid">
				</div>

				<div class="col-md-6 col-sm-8 col-10 mb-1 my-auto">
						<p class="m-0 text-right text-nowrap">139 Basaltic Road, Concord, ON L4K 1G4</p>
						<p class="m-0 text-right text-nowrap">Off: 905-760-5522 Fax: 905-760-5523</p>
				</div>

			</div>

			<hr>

			<form>
				<div class="form-group">
					<div class="row d-flex justify-content-end">
						<div class="col-lg-3 col-md-4 input-group  mb-2 mr-sm-2">
							<div class="input-group-prepend">
   								<div class="input-group-text p-1">Quote# </div>
  							</div>
								<input class="form-control p-1" aria-describedby="quote" type="text" ng-model="data.heading.quote">
						</div>
					</div>

					<div class="row d-flex justify-content-between">
						<div class="col-lg-4 col-md-5 input-group mb-2 mr-sm-2">
    							<div class="input-group-prepend">
     								 <div class="input-group-text p-1">Client</div>
    							</div>
								<input class="form-control p-1" aria-describedby="client" type="text">
						</div>

						<div class="col-lg-3 col-md-4 input-group mb-2 mr-sm-2">
    							<div class="input-group-prepend">
     								 <div class="input-group-text p-1">Date</div>
    							</div>
								<input class="form-control p-1" aria-describedby="client" type="text">
						</div>

					</div>

					<div class="row d-flex justify-content-between">
						<div class="col-lg-5 col-md-6 input-group mb-2 mr-sm-2">
    							<div class="input-group-prepend">
     								 <div class="input-group-text p-1">Specs</div>
    							</div>
								<input class="form-control p-1" aria-describedby="client" type="text">
						</div>

						<div class="col-lg-3 col-md-4 input-group mb-2 mr-sm-2">
    							<div class="input-group-prepend">
     								 <div class="input-group-text p-1">Trim size</div>
    							</div>
								<input class="form-control p-1" aria-describedby="client" type="text">
						</div>
					</div>

					<div class="row justify-content-between">
						<div class="col-lg-5 col-md-6 input-group mb-2 mr-sm-2">
    							<div class="input-group-prepend">
     								 <div class="input-group-text p-1">Specs</div>
    							</div>
								<input class="form-control p-1" aria-describedby="client" type="text">
						</div>
					</div>

					<div class="row justify-content-between">
						<div class="col-lg-5 col-md-6 input-group mb-2 mr-sm-2">
    							<div class="input-group-prepend">
     								 <div class="input-group-text p-1">Specs</div>
    							</div>
								<input class="form-control p-1" aria-describedby="client" type="text">
						</div>
					</div>


					<div class="row d-flex justify-content-end mb-2">
						<div class="col-lg-2 col-md-3 col-sm-5 input-group">
    							<div class="input-group-prepend">
     								 <div class="input-group-text p-1"># TXT pages</div>
    							</div>
								<input class="form-control p-1" aria-describedby="client" type="text">
						</div>

						<div class="col-lg-2 col-md-3 col-sm-5 input-group">
    							<div class="input-group-prepend">
     								 <div class="input-group-text p-1"># CVR pages</div>
    							</div>
								<input class="form-control p-1" aria-describedby="client" type="text">
						</div>
					</div>

					<div class="row justify-content-start mb-2">
						<div class="col-lg-2 col-md-3 col-sm-5 input-group ">
    							<div class="input-group-prepend">
     								 <div class="input-group-text p-1">COVER</div>
    							</div>
								<!-- <input class="form-control p-1" aria-describedby="client" type="text"> -->
								<select class="custom-select">
									<option value="50lb Gloss text" selected="50lb Gloss text">50lb Gloss text</option>
									<option value="60lb Gloss text">60lb Gloss text</option>
								</select>

						</div>

						<div class="col-lg-2 col-md-3 col-sm-5 input-group ">
    							<div class="input-group-prepend">
     								 <div class="input-group-text p-1">Sheet size</div>
    							</div>
								<input class="form-control p-1" aria-describedby="client" type="text">
								
						</div>

						<div class="col-lg-2 col-md-3 col-sm-5 input-group ">
    							<div class="input-group-prepend">
     								 <div class="input-group-text p-1">Colors side-1</div>
    							</div>
								<input class="form-control p-1" aria-describedby="client" type="text">
						</div>

						<div class="col-lg-2 col-md-3 col-sm-5 input-group ">
    							<div class="input-group-prepend">
     								 <div class="input-group-text p-1">Colors side-2</div>
    							</div>
								<input class="form-control p-1" aria-describedby="client" type="text">
						</div>

						<div class="col-lg-2 col-md-3 col-sm-5 offset-lg-0 offset-md-6 input-group ">
								<div class="input-group-prepend">
     								 <div class="input-group-text p-1">UV/Varnish</div>
    							</div>
								<!-- <input class="form-control p-1" aria-describedby="client" type="text"> -->
								<select class="custom-select">
									<option value="N" selected="N">N</option>
									<option value="Y">Y</option>
								</select>
							</div>

						<div class="col-lg-2 col-md-3 col-sm-5 offset-lg-0 input-group ">
								<div class="input-group-prepend">
     								 <div class="input-group-text p-1">AQ</div>
    							</div>
								<!-- <input class="form-control p-1" aria-describedby="client" type="text"> -->
								<select class="custom-select">
									<option value="N" selected="N">N</option>
									<option value="Y">Y</option>
								</select>
							</div>
						</div>

					<div class="row d-flex justify-content-start">
						<div class="col-lg-2 col-md-3 col-sm-5 input-group">

								<div class="input-group-prepend">
     								 <div class="input-group-text p-1">TEXT</div>
    							</div>
								<input class="form-control p-1" aria-describedby="client" type="text">
						</div>

						<div class="col-lg-2 col-md-3 col-sm-5 input-group">
								
								<div class="input-group-prepend">
     								 <div class="input-group-text p-1">Sheet size</div>
    							</div>
								<input class="form-control p-1" aria-describedby="client" type="text">
						</div>

						<div class="col-lg-2 col-md-3 col-sm-5 input-group">

								<div class="input-group-prepend">
     								 <div class="input-group-text p-1">Colors side-1</div>
    							</div>
								<input class="form-control p-1" aria-describedby="client" type="text">
						</div>

						<div class="col-lg-2 col-md-3 col-sm-5 input-group ">

								<div class="input-group-prepend">
     								 <div class="input-group-text p-1">Colors side-2</div>
    							</div>
								<input class="form-control p-1" aria-describedby="client" type="text">
						</div>

					</div> 

					<hr>

					<!-- Here starts the actual form!!! -->
					<!-- QUANTITY -->
					<div>
						<h5 class="d-flex justify-content-center border border-dark border-left-0 border-right-0 bg-light text-primary font-weight-bold" data-toggle="collapse"  href="#collapseQty">QUANTITY</h5>

						<div id="collapseQty" class="collapse show" role="tabpanel">
							<div class="row">
							<div class="col-6">
								<!-- left half -->
								<div class="row justify-content-end mb-1 ">
									<div class="col-4 text-right">English</div>
								</div>
								<div class="row justify-content-end mb-1">
									<div class="col-4 text-right">French</div>
								</div>

								<div class="row justify-content-end mb-1">
									<div class="col-4 text-right">Other</div>
								</div>
							</div>

							<div class="col-6">
							<!-- right half -->	
								<div class="row justify-content-around mb-1">
									<input class="form-control col-2 p-0 px-1" type="text" ng-change = "myfunction()" ng-model="qty_eng">
									<input class="form-control col-2 p-0 px-1" type="text" ng-model="qty_fren">
									<input class="form-control col-2 p-0 px-1" type="text" ng-model="qty_othr">
									<input class="form-control col-2 p-0 px-1" type="text" ng-model="qty_tot">
								</div>
								<div class="row justify-content-around mb-1">
									<input class="form-control col-2 p-0 px-1" type="text">
									<input class="form-control col-2 p-0 px-1" type="text">
									<input class="form-control col-2 p-0 px-1" type="text">
									<input class="form-control col-2 p-0 px-1" type="text">
								</div>
								<div class="row justify-content-around mb-1">
									<input class="form-control col-2 p-0 px-1" type="text">
									<input class="form-control col-2 p-0 px-1" type="text">
									<input class="form-control col-2 p-0 px-1" type="text">
									<input class="form-control col-2 p-0 px-1" type="text">
								</div>

							</div>
						</div>
						</div>
					</div>

					<!-- Total Queantity -->
					<div class="row">
						<!-- left side -->
						<div class="col-6">
							<div class="row justify-content-end mb-1">
								<div class="col-4 text-right font-weight-bold">Total Quantity</div>
							</div>
						</div>
						<!-- right half -->
						<div class="col-6">	
								<div class="row justify-content-around mb-1">
									<input class="form-control col-2 p-0 px-1" type="text">
									<input class="form-control col-2 p-0 px-1" type="text">
									<input class="form-control col-2 p-0 px-1" type="text">
									<input class="form-control col-2 p-0 px-1" type="text">
								</div>						
						</div>
					</div>

					<!-- COVER -->
					<div>
						<h5 class="d-flex justify-content-center border border-dark border-left-0 border-right-0 bg-light text-primary font-weight-bold" data-toggle="collapse"  href="#collapseOne">COVER</h5>

						<div id="collapseOne" class="collapse show" role="tabpanel">
							<div class="row">
							<div class="col-6">
							<!-- left half -->
							<div class="row justify-content-between mb-1">
								<div class="col-4 input-group">
									<div class="input-group-prepend">
	     								 <div class="input-group-text p-0 px-1">#Cover</div>
	    							</div>
								<input class="form-control p-0 px-1" type="text">
								</div>
								<div class="col-4 input-group">
									<div class="input-group-prepend">
	     								 <div class="input-group-text p-0 px-1">UP's</div>
	    							</div>
								<input class="form-control p-0 px-1" type="text">
								</div>
								<div class="col-4 text-right">Net Sheets</div>
							</div>

							<div class="row justify-content-between mb-1">
								<div class="col-4 input-group">
									<div class="input-group-prepend">
	     								 <div class="input-group-text p-0 px-1">$/CWT</div>
	    							</div>
								<input class="form-control p-0 px-1" type="text">
								</div>
								<div class="col-4 text-right">Press Spoils</div>
							</div>

							<div class="row justify-content-between mb-1">
								<div class="col-4 input-group">
									<div class="input-group-prepend">
	     								 <div class="input-group-text p-0 px-1">M Weight</div>
	    							</div>
								<input class="form-control p-0 px-1" type="text">
								</div>
								<div class="col-4 text-right">Bindery Overs</div>
							</div>

							<div class="row d-flex justify-content-between mb-1">
								<div class="col-4 input-group">
									<div class="input-group-prepend">
	     								 <div class="input-group-text p-0 px-1">$/M sheets</div>
	    							</div>
								<input class="form-control p-0 px-1" type="text">
								</div>
								<div class="col-4 text-right">Gross Sheets</div>
							</div>
						</div>

						<!-- right half -->
						<div class="col-6">
							<div class="row justify-content-around mb-1">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
							</div>
							<div class="row justify-content-around mb-1">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
							</div>
							<div class="row justify-content-around mb-1">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
							</div>
							<div class="row justify-content-around mb-1">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
							</div>
						</div>
						</div>
						</div>
					</div>

					<!-- Cover Cost -->
					<div class="row">
						<!-- left side -->
						<div class="col-6">
							<div class="row justify-content-end mb-1">
								<div class="col-4 text-right">Cover Cost</div>
							</div>
						</div>
						<!-- right half -->
						<div class="col-6">		
							<div class="row justify-content-around mb-1">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
							</div>					
						</div>
					</div>

					<!-- COVER -->
					<div>
						<h5 class="d-flex justify-content-center border border-dark border-left-0 border-right-0 bg-light text-primary font-weight-bold" data-toggle="collapse"  href="#collapseTxt">TEXT</h5>

						<div id="collapseTxt" class="collapse show" role="tabpanel">
							<div class="row">
							<div class="col-6">
							<!-- left half -->
							<div class="row justify-content-between mb-1">
								<div class="col-4 input-group">
									<div class="input-group-prepend">
	     								 <div class="input-group-text p-0 px-1">#Text</div>
	    							</div>
								<input class="form-control p-0 px-1" type="text">
								</div>
								<div class="col-4 input-group">
									<div class="input-group-prepend">
	     								 <div class="input-group-text p-0 px-1">UP's</div>
	    							</div>
								<input class="form-control p-0 px-1" type="text">
								</div>
								<div class="col-4 text-right">Net Sheets</div>
							</div>

							<div class="row justify-content-between mb-1">
								<div class="col-4 input-group">
									<div class="input-group-prepend">
	     								 <div class="input-group-text p-0 px-1">$/CWT</div>
	    							</div>
								<input class="form-control p-0 px-1" type="text">
								</div>
								<div class="col-4 text-right">Press Spoils</div>
							</div>

							<div class="row justify-content-between mb-1">
								<div class="col-4 input-group">
									<div class="input-group-prepend">
	     								 <div class="input-group-text p-0 px-1">M Weight</div>
	    							</div>
								<input class="form-control p-0 px-1" type="text">
								</div>
								<div class="col-4 text-right">Bindery Overs</div>
							</div>

							<div class="row d-flex justify-content-between mb-1">
								<div class="col-4 input-group">
									<div class="input-group-prepend">
	     								 <div class="input-group-text p-0 px-1">$/M sheets</div>
	    							</div>
								<input class="form-control p-0 px-1" type="text">
								</div>
								<div class="col-4 text-right">Gross Sheets</div>
							</div>
						</div>

						<!-- right half -->
						<div class="col-6">
							<div class="row justify-content-around mb-1">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
							</div>
							<div class="row justify-content-around mb-1">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
							</div>
							<div class="row justify-content-around mb-1">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
							</div>
							<div class="row justify-content-around mb-1">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
							</div>
						</div>
						</div>
						</div>
					</div>

					<!-- Text Cost -->
					<div class="row">
						<!-- left side -->
						<div class="col-6">
							<div class="row justify-content-end mb-1">
								<div class="col-4 text-right">Text Cost</div>
							</div>
						</div>
						<!-- right half -->
						<div class="col-6">		
							<div class="row justify-content-around mb-1">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
							</div>					
						</div>
					</div>


					<!-- Paper Cost -->
					<div class="row">
						<!-- left side -->
						<div class="col-6">
							<div class="row d-flex justify-content-end mb-2">
								<div class="col-4 text-right font-weight-bold">Paper Cost</div>
							</div>
						</div>
						<!-- right half -->
						<div class="col-6">		
							<div class="row justify-content-around mb-1">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
							</div>					
						</div>
					</div>

					<!-- PRINTING -->
					<div>
						<h5 class="d-flex justify-content-center border border-dark border-left-0 border-right-0 bg-light text-primary font-weight-bold" data-toggle="collapse"  href="#collapsePrt">PRINTING</h5>

						<div id="collapsePrt" class="collapse show" role="tabpanel">
							<div class="row">	
								<div class="col-6">
									<!-- left half -->
									<div class="row justify-content-end mb-1">
										<div class="col-4 text-right">Impression 1</div>
									</div>

									<div class="row justify-content-between mb-1">
										<div class="col-8">
											<div class="row d-flex justify-content-between pl-3">
												<div class="col-2 input-group-text p-0 px-1">Freight</div>
												<div class="col-2 input-group-text p-0 px-1">Weight</div>
												<div class="col-2 input-group-text p-0 px-1">Ctns</div>
												<div class="col-2 input-group-text p-0 px-1">Skids</div>
												<div class="col-2 input-group-text p-0 px-1">#</div>
										</div>
										</div>
										<div class="col-4 text-right">Impression 2</div>
									</div>

									<div class="row justify-content-between mb-1">
										<div class="col-8">
											<div class="row d-flex justify-content-between pl-3">
												<input class="form-control col-2 p-0 px-1" type="text">
												<input class="form-control col-2 p-0 px-1" type="text">
												<input class="form-control col-2 p-0 px-1" type="text">
												<input class="form-control col-2 p-0 px-1" type="text">
												<input class="form-control col-2 p-0 px-1" type="text">
										</div>
										</div>
										<div class="col-4 text-right">Plates & MR</div>
									</div>

									<div class="row justify-content-between mb-1">
										<div class="col-8">
											<div class="row justify-content-between pl-3">
												<input class="form-control col-2 p-0 px-1" type="text">
												<input class="form-control col-2 p-0 px-1" type="text">
												<input class="form-control col-2 p-0 px-1" type="text">
												<input class="form-control col-2 p-0 px-1" type="text">
												<input class="form-control col-2 p-0 px-1" type="text">
										</div>
										</div>
										<div class="col-4 text-right">M/R W+T</div>
									</div>

									<div class="row justify-content-between mb-1">
										<div class="col-8">
											<div class="row justify-content-between pl-3">
												<input class="form-control col-2 p-0 px-1" type="text">
												<input class="form-control col-2 p-0 px-1" type="text">
												<input class="form-control col-2 p-0 px-1" type="text">
												<input class="form-control col-2 p-0 px-1" type="text">
												<input class="form-control col-2 p-0 px-1" type="text">
										</div>
										</div>
										<div class="col-4 text-right">Running 1</div>
									</div>

									<div class="row justify-content-between mb-1">
										<div class="col-8">
											<div class="row d-flex justify-content-between pl-3">
												<input class="form-control col-2 p-0 px-1" type="text">
												<input class="form-control col-2 p-0 px-1" type="text">
												<input class="form-control col-2 p-0 px-1" type="text">
												<input class="form-control col-2 p-0 px-1" type="text">
												<input class="form-control col-2 p-0 px-1" type="text">
										</div>
										</div>
										<div class="col-4 text-right">Running 2</div>
									</div>	
								</div>

								<!-- right half -->
								<div class="col-6">
							<div class="row justify-content-around mb-1">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
							</div>
							<div class="row justify-content-around mb-1">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
							</div>
							<div class="row justify-content-around mb-1">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
							</div>
							<div class="row justify-content-around mb-1">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
							</div>

							<div class="row justify-content-around mb-1">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
							</div>
							<div class="row justify-content-around mb-1">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
							</div>
									
								</div>
							</div>
						</div>
					</div>

					<!-- Total printing -->
					<div class="row">
						<!-- left side -->
						<div class="col-6">
							<div class="row d-flex justify-content-end mb-2">
								<div class="col-4 text-right font-weight-bold">Total Printing</div>
							</div>
						</div>
						<!-- right half -->
						<div class="col-6">		
							<div class="row justify-content-around mb-1">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
								<input class="form-control col-2 p-0 px-1" type="text">
							</div>					
						</div>
					</div>

					<!-- Bindery -->
					<div class="col-12">
						<h5 class="d-flex justify-content-center border border-dark border-left-0 border-right-0 bg-light text-primary font-weight-bold" data-toggle="collapse"  href="#collapseBnd">BINDERY</h5>

						<div id="collapseBnd" class="collapse show" role="tabpanel">
						<div class="col-6">
							<!-- left half -->
							<div class="row d-flex justify-content-end">
								<div class="col-2 text-center font-weight-bold">Cutting</div>
								<div class="col-10">
									<div class="row d-flex justify-content-end">
										<div class="col-4 input-group">
											<div class="input-group-prepend">
				     							<div class="input-group-text p-1">M/R</div>
				    						</div>
											<input class="form-control p-1" aria-describedby="client" type="text">
										</div>
										<div class="col-4 input-group">
											<div class="input-group-prepend">
				     							 <div class="input-group-text p-1">Run/M</div>
				    						</div>
											<input class="form-control p-1" aria-describedby="client" type="text">
										</div>
									</div>
								</div>
							</div>

							<div class="row d-flex justify-content-end">
								<div class="col-2 text-center font-weight-bold">Folding</div>
								<div class="col-10">
									<div class="row d-flex justify-content-end">
										<div class="col-4 input-group">
											<div class="input-group-prepend">
				     							<div class="input-group-text p-1">4pp</div>
				    						</div>
											<input class="form-control p-1" aria-describedby="client" type="text">
										</div>
										<div class="col-4 input-group">
											<div class="input-group-prepend">
				     							<div class="input-group-text p-1">M/R</div>
				    						</div>
											<input class="form-control p-1" aria-describedby="client" type="text">
										</div>
										<div class="col-4 input-group">
											<div class="input-group-prepend">
				     							 <div class="input-group-text p-1">Run/M</div>
				    						</div>
											<input class="form-control p-1" aria-describedby="client" type="text">
										</div>
									</div>

									<div class="row d-flex justify-content-end">
										<div class="col-4 input-group">
											<div class="input-group-prepend">
				     							<div class="input-group-text p-1">8pp</div>
				    						</div>
											<input class="form-control p-1" aria-describedby="client" type="text">
										</div>
										<div class="col-4 input-group">
											<div class="input-group-prepend">
				     							<div class="input-group-text p-1">M/R</div>
				    						</div>
											<input class="form-control p-1" aria-describedby="client" type="text">
										</div>
										<div class="col-4 input-group">
											<div class="input-group-prepend">
				     							 <div class="input-group-text p-1">Run/M</div>
				    						</div>
											<input class="form-control p-1" aria-describedby="client" type="text">
										</div>
									</div>

									<div class="row d-flex justify-content-end">
										<div class="col-4 input-group">
											<div class="input-group-prepend">
				     							<div class="input-group-text p-1">12/16pp</div>
				    						</div>
											<input class="form-control p-1" aria-describedby="client" type="text">
										</div>
										<div class="col-4 input-group">
											<div class="input-group-prepend">
				     							<div class="input-group-text p-1">M/R</div>
				    						</div>
											<input class="form-control p-1" aria-describedby="client" type="text">
										</div>
										<div class="col-4 input-group">
											<div class="input-group-prepend">
				     							 <div class="input-group-text p-1">Run/M</div>
				    						</div>
											<input class="form-control p-1" aria-describedby="client" type="text">
										</div>
									</div>

									<div class="row d-flex justify-content-end">
										<div class="col-4 input-group">
											<div class="input-group-prepend">
				     							<div class="input-group-text p-1">24/32pp</div>
				    						</div>
											<input class="form-control p-1" aria-describedby="client" type="text">
										</div>
										<div class="col-4 input-group">
											<div class="input-group-prepend">
				     							<div class="input-group-text p-1">M/R</div>
				    						</div>
											<input class="form-control p-1" aria-describedby="client" type="text">
										</div>
										<div class="col-4 input-group">
											<div class="input-group-prepend">
				     							 <div class="input-group-text p-1">Run/M</div>
				    						</div>
											<input class="form-control p-1" aria-describedby="client" type="text">
										</div>
									</div>
								</div>
							</div>

							<div class="row d-flex justify-content-end">
								<div class="col-2 text-center font-weight-bold">Stitcher</div>
								<div class="col-10">
									<div class="row d-flex justify-content-end">
										<div class="col-4 input-group">
											<div class="input-group-prepend">
				     							<div class="input-group-text p-1">M/R</div>
				    						</div>
											<input class="form-control p-1" aria-describedby="client" type="text">
										</div>
										<div class="col-4 input-group">
											<div class="input-group-prepend">
				     							 <div class="input-group-text p-1">Run/M</div>
				    						</div>
											<input class="form-control p-1" aria-describedby="client" type="text">
										</div>
									</div>
								</div>
							</div>

							<div class="row d-flex justify-content-end">
								<div class="col-4 text-center font-weight-bold">Other costs</div>
								<input class="col-3 form-control p-1 mr-3" aria-describedby="client" type="text">
							</div>

							<div class="row d-flex justify-content-end">
								<div class="col-4 text-center font-weight-bold">Other costs</div>
								<input class="col-3 form-control p-1 mr-3" aria-describedby="client" type="text">
							</div>

							<div class="row d-flex justify-content-end">
								<div class="col-4 text-center font-weight-bold">Other costs</div>
								<input class="col-3 form-control p-1 mr-3" aria-describedby="client" type="text">
							</div>
							
							<div class="row d-flex justify-content-start">
								<div class="col-2 text-center font-weight-bold">Freight</div>
							</div>
						</div>

						<!-- right half -->
						<div class="col-6">
							
						</div>
					</div>
					<!-- Total Bindery -->
					<div class="col-12">
						<!-- left side -->
						<div class="col-6">
							<div class="row d-flex justify-content-end mb-2">
								<div class="col-4 text-right font-weight-bold">Total Bindery</div>
							</div>
						</div>
						<!-- right half -->
						<div class="col-6">							
						</div>
					</div>

					<!-- Total Bindery -->
					<div class="col-12">
						<!-- left side -->
						<div class="col-6">
							<div class="row d-flex justify-content-between mb-2">
								<div class="col-4 input-group">
									<div class="input-group-prepend">
		     							 <div class="input-group-text p-1">US Exchange</div>
		    						</div>
									<input class="form-control p-1" aria-describedby="client" type="text">
								</div>
								<div class="col-4 text-right font-weight-bold">TOTAL</div>
							</div>
						</div>
						<!-- right half -->
						<div class="col-6">							
						</div>
					</div>

										<!-- Total Bindery -->
					<div class="col-12">
						<!-- left side -->
						<div class="col-6">
							<div class="row d-flex justify-content-end mb-2">
								<div class="col-4 text-right font-weight-bold">Total/1000</div>
							</div>
						</div>
						<!-- right half -->
						<div class="col-6">							
						</div>
					</div>


					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
	</div>