					<!-- Here starts the actual form!!! -->
					<!-- QUANTITY -->
					<div id="quantitynav">
						<h5 class="d-flex justify-content-center border border-dark border-left-0 border-right-0 bg-light text-primary font-weight-bold" data-toggle="collapse"  href="#collapseQty">QUANTITY</h5>

						<div id="collapseQty" class="collapse show" role="tabpanel" ng-class="SkipPrint">
							<div class="row">
								<div class="col-6">
									<!-- left half -->
									<div class="row justify-content-end mb-2 " ng-repeat="i in dataStore.quantity.qty_lang">
										<div class="col-4 text-right"> {{ i }} </div>
									</div>
								</div>

								<div class="col-6 d-flex">
								<!-- right half -->	
									<div class="col-3" ng-repeat="i in getNumber(number)" >
										<input class="form-control p-0 px-1 mb-2" type="text" ng-repeat="i in dataStore.quantity.qty_arr" ng-change = "getTotQnty()" ng-model="dataStore.quantity.qty_arr[$index][$parent.$index]">
									</div>
								</div>
							</div>
						</div>

											<!-- Total Queantity -->
						<div class="row">
							<!-- left side -->
							<div class="col-6">
								<div class="row justify-content-end mb-1">
									<div class="col-4 text-right font-weight-bold">Total Quantity</div>
								</div>
							</div>
							<!-- right half -->
							<div class="col-6 d-flex">	
								<div class="col-3" ng-repeat="i in getNumber(number)"><input class="form-control p-0 px-1" ng-class="{ 'border-danger' : validQuantity == false }" type="text"  ng-model="dataStore.quantity.qty_tot[$index]" ng-change = "getCvrSht()" readonly tabindex="-1"></div>	
							</div>
						</div>
					</div>