<nav-bar ></nav-bar>

	<br>
	<div class="row d-flex justify-content-center ">
		<div class="col-3 border border-dark rounded p-1 ">		
			<div class="row d-flex justify-content-between align-items-center">
				<div class="col-4 p-0 ">
					<img src="./images/new-quote.png" alt="New Quote Icon" class="img-fluid pt-1">
				</div>
				<div class="col-8 p-0">
					<div class="row d-flex justify-content-center ">
						<h5 class="font-weight-bold" style="color: orange">New Quote</h5>
					</div>
					<div class="row d-flex justify-content-center">
						<div class="col-3 p-0 font-weight-bold text-muted">
							#Quotes
						</div>

						<div class="col-2 p-0">
							<input type="radio" name="quotes" id="q1" value="1" checked="checked">   
							<label for="q1">1</label>
						</div>

						<div class="col-2 p-0">
							<input type="radio" name="quotes" id="q2" value="2">   
							<label for="q2">2</label>
						</div>
						<div class="col-2 p-0">
							<input type="radio" name="quotes" id="q3" value="3">   
							<label for="q3">3</label>
						</div>
						<div class="col-2 p-0">
							<input type="radio" name="quotes" id="q4" value="4">   
							<label for="q4">4</label>
						</div>
					</div>
					<div class="row d-flex justify-content-center">
						<a type="button" class="col-4 text-center mx-2 font-weight-bold btn btn-primary" href="#!newQuote" ng-click="proceed()">Proceed</a>

					</div>
				</div>
			</div>
		</div>

		<div class="col-3 offset-1 border border-dark rounded p-1">		
			<div class="row d-flex justify-content-between align-items-center">
				<div class="col-4 p-0 ">
					<img src="./images/search-quote.png" alt="New Quote Icon" class="img-fluid pt-1">
				</div>
				<div class="col-8 p-0">
					<div class="row d-flex justify-content-center ">
						<h5 class="font-weight-bold" style="color: orange">Search Quote</h5>
					</div>

					<div class="row d-flex justify-content-center m-0 mb-2">
						<div class="col-6 p-0">
							<input class="p-0 px-1 form-control" type="text"  maxlength="8" placeholder="Quote#">
						</div>
					</div>

					<div class="row d-flex justify-content-center">
						<button type="button" class="col-4 text-center mx-2 font-weight-bold btn btn-primary" ng-click="">Search</button>
					</div>
				</div>
			</div>
		</div>

	</div>

	<br>

	<div class="row d-flex justify-content-center">
		<div class="col-3 border border-dark rounded p-1 ">		
			<div class="row d-flex justify-content-between align-items-center">
				<div class="col-4 p-0 ">
					<img src="./images/admin.png" alt="Admin Icon" class=" border rounded bg-light img-fluid pt-1">
				</div>
				<div class="col-8 p-0">
					<div class="row d-flex justify-content-center ">
						<h5 class="font-weight-bold" style="color: orange">Admin Panel</h5>
					</div>

					<div class="row d-flex justify-content-center">
						<a type="button" class="col-4 text-center mx-2 font-weight-bold btn btn-primary" href="#!adminPanel" >Enter</a>
					</div>
				</div>
			</div>
		</div>
	</div>